.fixed-height-image {
    height: 450px; 
    object-fit: cover;
    width: 100%;
}
/*.card {
    min-height: 650px;*/ /* Înălțimea minimă a cardurilor */
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/