@page
@model Training.Pages.Admin.Order.OrderListModel

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="p-2">
            <h2 class="text-dark">  Order List  </h2>
        </div>
        @* filtrare continut tabel *@
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="cancelled" >
               <li class="list-group-item">Canceled</li> 
               </a>
               <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="completed"> 
               <li class="list-group-item">Completed</li> 
               </a> 
               <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="inprocess"> 
               <li class="list-group-item">In Progress</li> 
               </a> 
               <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="ready"> 
               <li class="list-group-item">Ready for Delivery</li> 
                </a>

                @* <a style="text-decoration:none;" asp-page="OrderList" asp-route-smecherie="banana"> *@
                @* <li class="list-group-item">Cancelled</li> *@
                @* </a> *@
                @* <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="completed"> *@
                @* <li class="list-group-item">Completed</li> *@
                @* </a> *@
                @* <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="ready"> *@
                @* <li class="list-group-item">Ready For Delivery</li> *@
                @* </a> *@
                @* <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="inprocess"> *@
                @* <li class="list-group-item">InProcess</li> *@
                @* </a> *@
            </ul>
            
        </div>
    </div>

        <table id="DT_OrderList" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Order Total</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
        </table>

</div>

@section Scripts {
    <script src="~/js/orderList.js"></script>
}
